@tailwind base;

@tailwind components;

@tailwind utilities;

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

:root, [data-theme]{
  background-color: rgb(255, 255, 255);
  color:black
}

body{
  overflow: scroll;
}

.max-w-xs {
  max-width: 50rem;
}


.underline {
  height: 1px;
  background-color: #6419E6; 
  background-image: linear-gradient(to right,white,  #6419E6 , white);
}

.rectangle {
  display: inline-block; 
  padding: 10px;
  min-width: 800px;
  background-color: #ffffff;
  box-shadow: 1px 1px 5px rgb(199, 199, 199);
  z-index: 20;
  border-radius: 7px 2px 7px 2px;
}
.rectangle2 {
  display: inline-block; 
  padding: 10px;
  min-width: 300px;
  background-color: #ffffff;
  box-shadow: 1px 1px 5px rgb(199, 199, 199);
  z-index: 20;
  border-radius: 7px 2px 7px 2px;
}
.card-body{
  padding:0;
}
.hover-row:hover {
  background-color: #8656da;
  color:white
}

.page-container {
  /* height: 400px;  */
  overflow: auto; 
}


div.modal-box{
  background-color: #8656da;
  color:white;
}
.modal-button{
  background-color: #8656da;
  border-color: #8656da;
  color:white;
}

.flex {
  display: flex;
}

.form-container {
  flex: 1; 
}

.table-container {
  flex: 2; 
}

.custom-width1{
  /* min-width: 50rem; */
  min-width: 800px;
}
.custom-width2{
  /* min-width: 18.75rem; */
  min-width: 300px;
}


@media (min-width: 1280px) {
.xl\:font-bold{
  font-weight: 7000;
}
}

.table-xs th{
  text-align: left;
}




